In [2]:
def add_sum (a,b,c):
  return  a+b+c 
add_sum (34,5,7)
%whos

Variable   Type        Data/Info
--------------------------------
add_sum    function    <function add_sum at 0xaccb5df0>

In [5]:
#the importance of indentation 
def myself (name):
    print ('My name is ' + name )
    print ('I was born in Kano')
    print (' my hobby is cooking')
    
    
myself ('Margaret')

My name is Margaret
I was born in Kano
 my hobby is cooking

In [33]:
#details about ordering a ride for a trip
def trip_welcome (location):
    print ("welcome to carify")
    print ("seems you are going to " + " " + location +  " today " )
    
trip_welcome (" bahamas ")

welcome to carify
seems you are going to   bahamas  today

In [3]:
#getting the minimum number
def get_min(nums):
    min_num= float ('inf')
    for num in nums:
        if num < min_num:
            min_num= num 
            return min_num
lst= [20,3,8,15,90,34,6,19,7]
get_min (lst)
%whos

Variable   Type        Data/Info
--------------------------------
add_sum    function    <function add_sum at 0xaccb5df0>
get_min    function    <function get_min at 0xaccb5ad8>
lst        list        n=9

In [14]:
#import library
from numpy import random 

random.seed(20)
y= random.randint(1,100,3)
y

array([91, 16, 96])

In [16]:
#creating a dictionary through selection
word = 'tomatoes' 
d = {}
#d= dict()
for c in word:
    if c not in d:
        d[c]=1
else:
            d[c]= d[c] + 1
print (d)

{'t': 1, 'o': 1, 'm': 1, 'a': 1, 'e': 1, 's': 2}

In [7]:
#Access the individual keys in the dictionary object 
food = {"rice":20, "beans":50, "banana":70, "orange":100}
food ["rice"]

print (food ["rice"])

print (food ["beans"])

print (food ["banana"])

print (food ["orange"])

20
50
70
100

In [5]:
x=3

#Variables

In [6]:
print(type(x))

<class 'int'>

In [7]:
a,b,c,d,e,f = 2,4.5,6,-8,0.6,3
%whos

Variable   Type        Data/Info
--------------------------------
a          int         2
add_sum    function    <function add_sum at 0xaccb5df0>
b          float       4.5
c          int         6
d          int         -8
e          float       0.6
f          int         3
get_min    function    <function get_min at 0xaccb5ad8>
lst        list        n=9
x          int         3

In [9]:
print(type(a))

<class 'int'>

In [17]:
#write a function that prints each key with its corresponding value 

def value_key (dict):
    for key in dict:
        print (key, dict[key])
     
age_of_students= {"peter":30, "paul":25, "John":32, "Mary":19}

print (value_key(age_of_students))

peter 30
paul 25
John 32
Mary 19
None

In [5]:
abcd = 1,2,3,4
print (abcd)
%whos

(1, 2, 3, 4)
Variable   Type     Data/Info
-----------------------------
abcd       tuple    n=4

In [6]:
#understanding the function of deleting and the calling to print 
del abcd
print(abcd)

NameError: name 'abcd' is not defined

In [14]:
c=2+3j
print (c)
%whos

(2+3j)
Variable   Type       Data/Info
-------------------------------
c          complex    (2+3j)

In [15]:
%whos

Variable   Type       Data/Info
-------------------------------
c          complex    (2+3j)

In [16]:
type (c)

complex

In [18]:
_

complex

a+b=9

BOOL

In [20]:
a= True
b= True 
c=False 
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False

In [21]:
print ( a and b)
print (a or b)
print (a and c)
print ( b and c)
print (a or c)
print (a or c)
print (a and b or c)

True
True
False
False
True
True
True

In [22]:
p = a and b 
print (p)

True

In [23]:
not (p)

False

In [24]:
type(p)

bool

In [25]:
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False
p          bool    True

In [26]:
not ((a and b) and not(c))

False

In [27]:
not (c and a)

True

In [31]:
g = not ((c or a) or (b and c) and (a and b))
print (g)

False

In [32]:
print (g)

False

In [33]:
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False
g          bool    False
p          bool    True

In [35]:
k= 5
h= 5
h==k

True

In [36]:
type (k)

int

In [37]:
%whos

Variable   Type    Data/Info
----------------------------
a          bool    True
b          bool    True
c          bool    False
g          bool    False
h          int     5
k          int     5
p          bool    True

In [38]:
q=8
h!=q

True

In [39]:
h==g

False

In [40]:
h<=q

True

In [43]:
x=4
y=7
j=-6
l= 0.6
t = x==l 

x < j

False

In [44]:
type (t)

bool

In [45]:
%whos

Variable   Type     Data/Info
-----------------------------
a          bool     True
b          bool     True
c          bool     False
g          bool     False
h          int      5
j          int      -6
k          int      5
l          float    0.6
p          bool     True
q          int      8
t          bool     False
x          int      4
y          int      7